<head>
    <link rel="stylesheet" href="~/Styles/fontello.css" />
    <link rel="stylesheet" href="~/Styles/LogoPartialStyles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
</head>

<div id="logoContainer" style="margin:auto; justify-content:center;">
    <a href="/home/index" class="logo" style="margin:0px;"><span class="icon-basket-1" style="font-size:70px; margin:-15px;padding:0px;"></span><h1  style="font-size:70px;margin:0px; display:inline;"><span>pal'</span>mercadito</h1></a>
    <h2 style="text-align:end; color:gray; font-family: Bebas Neue; margin:0px;">El mercado donde todo lo encuentras!!!</h2>
    <br />
    <br />
    <br />
    <h2 style="text-align:center; color:gray; font-family: Bebas Neue;">Compra y venta de articulos de toda clase</h2>
    <div id="NetworkingContainer" class="elementosFooter" style="display:block;">
        <h2 style="color:#23395d; text-align:center; font-family: Bebas Neue;">Siguenos en nuestras redes:</h2>
        <ul style="display:flex; justify-content:space-between; width:50%; list-style:none; margin:auto; padding:0px;">
            <li><a href="#"><span class="icon-twitter" style="font-size:30px; color: Highlight;"></span></a></li>
            <li><a href="#"><span class="icon-facebook" style="font-size:30px; color: darkblue;"></span></a></li>
            <li><a href="#"><span class="icon-instagram" style="font-size:30px; color: #cd486b	;"></span></a></li>
        </ul>
    </div>
</div>
