#registerForm {
    margin: auto;
    width: 50%;
    padding: 30px 0px;
    background-color: white;
    border: 2px solid gainsboro;
    margin: 0px;
    border-radius: 0px;
    padding-top: 50px;
}
#registerForm h1{
    text-align:center;
    color: #23395d;
}

.form-horizontal {
    width: 80%;
    margin: 0px;
    padding: 0px;
    margin: auto;
}

#passwordTextbox, #emailTextbox, #confirmPasswordTextbox {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    display: block;
    font-size: 18px;
    padding: 0px 5px;
}

#emailContent, #passwordContent, #confirmPasswordContent, #registerButtonContent {
    width: 100%;
}

.text-danger {
    color: red;
}

#registerButtonRegister {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    font-size: 18px;
    background-color: #23395d;
    color: white;
    border: none;
    margin: 10px 0px;
}

    #registerButtonRegister:hover {
        background-color: darkgoldenrod;
        cursor: pointer;
    }




#labelEmail, #labelPassword, #labelConfirmPassword {
    font-size: 18px;
}






#mainContainer {
    width: 100%;
    background-color: rgba(183, 134, 11, 0.20);
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
